//Background color for navbar
$nav-background: #93719d;

//Background color for body
$body-background: #eaddf5;

//Background color for productcards
$card-background: #b584cf;

//Text color

body {
    background-color: $body-background;
    color: white;
    margin: 0;
}

header {
    background-color: $nav-background;
    padding: 1rem;
   
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0;
        
        h1 {
        margin: 0;
       }
    }
}

.products-list {
    padding-top: 1rem;
    margin: 1rem;
  
    article {
        border: #836969 2px solid;
        background-color: $card-background;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}



