//Background color for navbar
$nav-background: #522969;

//Background color for body
$body-background: #dec7f1;

//Background color for productcards
$card-background: #73478A;

//Text color
$heading-color: #f0e9e9;
$text-color: #522969;


body {
    background-color: $body-background;
    color: white;
    margin: 0;
}

.banner {
    margin: 0;
    height: 15rem;
    max-width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

header {
    background-color: $nav-background;
    padding: 1rem;
   
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0;
        
        h1 {
        margin: 0;
        color: $heading-color;
       }
    }
}

#cart {
    display: none;
}

#cart.visible {
    display: block;
}

.sort {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    

    .left, .right {
        border: #ffffff 1px solid;
        border-radius: 10px;
        padding: 1rem;

        h2{
            padding-bottom: 1rem;
            margin-top: 0;
            color: $text-color;
        }

        .button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .button button {
            background-color: $nav-background;
            color: $heading-color;
            padding: 0.8rem 1rem; //padding funkar inte bra precis mellan mobil och tablet åtgärda!
            border-radius: 6px;
            border: none;
            cursor: pointer; 
            transition: background-color 0.2s ease, transform 0.2s ease;

            &:hover {
                background-color: #71b9c8;
                color: #2C2C2C;  //Kolla hur man kan få den att vara annan färg när den är klickad på 
            }
        }
    }
}

.products-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;
  
    article {
        border-radius: 8px;
        background-color: $card-background;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    h3, p{
        color: $heading-color;
    }

    img {
        width: 100%;
        max-height: 300px;
        display: block;
        border-radius: 8px;
        border: #ffffff 2px solid;
    }
}



