//Background color for navbar
$nav-background: #93719d;

//Background color for body
$body-background: #eaddf5;

//Background color for productcards
$card-background: #b584cf;

//Text color

body {
    background-color: $body-background;
    color: white;
    margin: 0;
}

.banner {
    margin: 0;
    height: 10rem;
    max-width: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    };
}


header {
    background-color: $nav-background;
    padding: 1rem;
   
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0;
        
        h1 {
        margin: 0;
       }
    }
}

.sort {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    

    .left, .right {
        border: #93719d 1px solid;
        border-radius: 10px;
        padding: 1rem;

        h2{
            padding-bottom: 1rem;
            margin-top: 0;
        }

        .button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }

}

.products-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;
  
    article {
        border-radius: 8px;
        background-color: $card-background;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        max-height: 300px;
        display: block;
        border-radius: 8px;
        border: #8a1e96 2px solid;
    }
}



