//Background color for navbar
$nav-background: #522969;

//Background color for body
$body-background: #dec7f1;

//Background color for productcards
$card-background: #73478A;

//Background color cart/button
$cart-background: #71b9c8;

//Text color
$heading-color: #eae6e6;
$text-color: #522969;
$text-dark: #2C2C2C;



body {
    background-color: $body-background;
    color: white;
    margin: 0;

    font-family: 'fira sans', sans-serif;

    h1, h2, h3 {
        font-family: 'dynapuff', system-ui;
        letter-spacing: 2px;
    }

   
}

.banner {
    background-image: url('/img/Banner.jpg');
    background-size: cover;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    width: 100%;
    background-color: $nav-background;
    padding: 1rem;
   
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0;
        
        h1 {
        margin: 0;
        color: $heading-color;
        font-family: 'dynapuff', system-ui;
       }

       #cartButton {
            background-color: #eae6e6;
            color: black;
            padding: 0.8rem 0.8rem; 
            border-radius: 6px;
            border: none;
            cursor: pointer; 
            transition: background-color 0.2s ease, transform 0.2s ease;

            &:hover {
                background-color: $cart-background;
                color: $text-dark;  //Kolla hur man kan få den att vara annan färg när den är klickad på 
            }
       }

    }
}

#cartSection {
    position: fixed;
    top: 75px;
    right: 0;
    width: 100%;
    background-color: $cart-background;
    color: $text-dark;
    padding: 1rem;
    z-index: 1000;
    border-radius: 0 0 10px 10px;
    border: 1px solid #eae6e6;

    h2 {
        color: $text-dark;
    }

    #cart {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding-top: 1rem;
    }

    .cart-item {
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        align-items: center;
        color: $text-dark;
        gap: 0.5rem;
    }

    .cart-name { 
        font-weight: bold; 
    } 
    
    .cart-controls { 
        display: flex; 
        align-items: center; 
    } 
    
    .cart-amount { 
        width: 3rem;
        text-align: center; 
        font-family: 'fira code', sans-serif; 
    } 
    
    .cart-price {  
        width: 3rem;
        text-align: right; 
        font-weight: bold;
    }

    .increase-cart-product, .decrease-cart-product {
        background-color: $heading-color;
        color: $text-dark;
        border: none;
        padding: 0.3rem 0.5rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;

        &:hover {
            background-color: $nav-background;
            color: $heading-color;  
            }
    }

    .delete-product {
        background-color: $heading-color;
        color: $text-dark;
        border: none;
        padding: 0.3rem 0.5rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;

        &:hover {
            background-color: $nav-background;
            color: $heading-color;  
            }
    }

    .cart-total {
        margin-top: 0;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: right;
        padding: 0.8rem 0;
        border-bottom: #eae6e6 2px solid;
    }

    .checkoutBtn {
        margin: 1rem auto 0;
        display: block;
        padding: 0.8rem;
        background-color: $heading-color;
        color: $text-dark;
        border: none;
        border-radius: 6px;
        font-size: 1.1rem;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;

        &:hover {
            background-color: $nav-background;
            color: $heading-color;  
        }
    }
}

#cartSection.hidden {
    display: none;
}

@media screen and (min-width: 400px) {
    
    #cartSection {
        .increase-cart-product, .decrease-cart-product {
            padding: 0.5rem 0.8rem;
        }

        .delete-product {
            padding: 0.5rem 0.8rem;
        }

        .cart-amount { 
            width: 4rem;
        } 
    
        .cart-price {  
           width: 4rem;
        }
    }
}

.sort {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    

    .left, .right {
        border: #ffffff 1px solid;
        border-radius: 10px;
        padding: 1rem;

        h2{
            padding-bottom: 1rem;
            margin-top: 0;
            color: $text-color;
        }

        .button {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .button button {
            background-color: $nav-background;
            color: $heading-color;
            padding: 0.8rem 0.8rem; 
            border-radius: 6px;
            border: none;
            cursor: pointer; 
            transition: background-color 0.2s ease, transform 0.2s ease;

            &:hover {
                background-color: #71b9c8;
                color: #2C2C2C;  
            }
        }
    }
}

.products-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem;
    gap: 1rem;
  
    article {
        border-radius: 8px;
        background-color: $card-background;
        padding: 1rem;
        margin-bottom: 1rem; 
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 8px;
        border: #ffffff 2px solid;
    }

    .product-header h3 {
        color: $heading-color;
        font-size: 1.5rem;
        
    }

    .metadata p {
        color: $heading-color;
        font-size: 1rem;
        text-align: left;
    }

    .amount-label { 
        color: $heading-color; 
        display: block; 
        padding-bottom: 0.3rem; 
        padding-top: 1rem;
    }

    
    .control-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .controls button {
        background-color: $nav-background;
        color: $heading-color;
        border: none;
        padding: 0.5rem 0.9rem;
        font-size: 1.2rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;
        
        &:hover {
            background-color: $cart-background;
            color: $text-dark;
        }
    }

    .controls input {
        width: 100%;
        padding: 0.6rem;
        border-radius: 6px;
        border: none;
        background-color: $heading-color;
        color: $text-dark;
    }

    .buy {
        background-color: $heading-color;
        color: $text-dark;
        border: none;
        padding: 0.6rem;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, transform 0.2s ease;
        width: 100px;
        margin-top: 1rem;
        margin: 1rem auto 0;

        &:hover {
            background-color: $cart-background;
        }

    }
}

 .cart-total {
        transition: all 0.2s ease-in-out;
    }

    .highlight-price {
        color: green;
    }

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    font-family: 'fira code', sans-serif;
    font-size: 0.8rem;
    color: $text-color;
    border-top: $heading-color 2px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}


