@media screen and (min-width: 640px) {
    
    .banner {
        height: 20rem;
    }

   #cartSection {
        width: 400px;
    }

    .sort {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 1rem;
       
        .left, .right {
            width: 100%;
        }
    }

    .products-list {
        grid-template-columns: repeat(2, 1fr);

        img {
            max-height: 300px;
        }

    }

}